<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/your_club</url-pattern>
        <url-pattern>/userprofile</url-pattern>
        <url-pattern>/clubprofile</url-pattern>
        <url-pattern>/create_club</url-pattern>
        <url-pattern>/create_post</url-pattern>
        <url-pattern>/add_member</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>ClubFilter</filter-name>
        <filter-class>filter.ClubFilter</filter-class>
    </filter>
        <filter-mapping>
        <filter-name>ClubFilter</filter-name>
        <url-pattern>/add_member</url-pattern>
        <url-pattern>/create_post</url-pattern>
    
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackToIndexServlet</servlet-name>
        <servlet-class>controller.BackToIndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateClubServlet</servlet-name>
        <servlet-class>controller.CreateClubServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClubDAO</servlet-name>
        <servlet-class>dao.ClubDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewClubServlet</servlet-name>
        <servlet-class>controller.ViewClubServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewYourClubServlet</servlet-name>
        <servlet-class>controller.CheckYourClubServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewYourClubsServlet</servlet-name>
        <servlet-class>controller.ViewYourClubsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMemberServlet</servlet-name>
        <servlet-class>controller.AddMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMembersServlet</servlet-name>
        <servlet-class>controller.ViewMembersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMemberSerlvet</servlet-name>
        <servlet-class>controller.SearchUserSerlvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserProfileServlet</servlet-name>
        <servlet-class>controller.EditUserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClubProfileServlet</servlet-name>
        <servlet-class>controller.ClubProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListClubServlet</servlet-name>
        <servlet-class>controller.ListClubServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateArticleServlet</servlet-name>
        <servlet-class>controller.CreateArticleServlet</servlet-class>
    </servlet>
      <servlet>
        <servlet-name>ArticleServlet</servlet-name>
        <servlet-class>controller.ArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackToIndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateClubServlet</servlet-name>
        <url-pattern>/create_club</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewClubServlet</servlet-name>
        <url-pattern>/club</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewYourClubsServlet</servlet-name>
        <url-pattern>/your_club</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMemberServlet</servlet-name>
        <url-pattern>/add_member</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMemberSerlvet</servlet-name>
        <url-pattern>/search_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMemberList</servlet-name>
        <url-pattern>/member_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserProfileServlet</servlet-name>
        <url-pattern>/userprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClubProfileServlet</servlet-name>
        <url-pattern>/clubprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListClubServlet</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateArticleServlet</servlet-name>
        <url-pattern>/create_post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleServlet</servlet-name>
        <url-pattern>/article</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>
</web-app>
